{
  "extends": ["rapid7/browser", "rapid7/strict"],
  "globals": {
    "__dirname": true,
    "global": true,
    "module": true,
    "process": true,
    "require": true
  },
  "parser": "babel-eslint",
  "rules": {
    "max-depth": [2, 2],
    "no-param-reassign": 0
  }
}
